<div class="container py-4 ">
    <h2>New Book</h2>
    <form action="/books" method="POST">
        <!-- we will not put all inputs here 
        instead we will put it in partial file
        _form_fields.ejs in books folder
    
        _ (underscore) is used to identify the partial file
        as these same inputs will be used when we want 
        to edit the same book.
    
        Hence instead of writing code twice
        we use reusable code.
        
        -->
        <%- include('_form_fields')%>
    
    
        <a href="/books">Cancel</a>
        <button type="submit">Create</button>
    </form>
    </div>